<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC仕様入力フォーム</title>
	<style>
	.msg{
	    color: red;
	    font-size: 0.8em;
	}
	</style>    
</head>
<body>
    <h2>PC仕様入力フォーム</h2>
    <form th:action="@{/pc/create}" method="post" th:object="${pcForm}">
        <table>
            <tr>
                <td>CPU:</td>
                <td>
                	<input type="text" th:field="*{cpu}">
                	<span th:errors="*{cpu}" class="msg"></span>
                </td>
            </tr>
            <tr>
                <td>メモリ:</td>
                <td>
                	<input type="number" th:field="*{memory}">
                	<span th:errors="*{memory}" class="msg"></span>
                </td>
            </tr>
            <tr>
                <td>OS:</td>
                <td>
                    <select th:field="*{os}">
                        <option value="">選択してください</option>
                        <option value="Windows">Windows</option>
                        <option value="MacOS">MacOS</option>
                        <option value="Linux">Linux</option>
                    </select>
					<span th:errors="*{os}" class="msg"></span> 
                </td>
            </tr>
            <tr>
                <td>ストレージ:</td>
                <td>
                    <input type="checkbox" th:field="*{storage}" value="HDD">HDD
                    <input type="checkbox" th:field="*{storage}" value="STA-SSD">STA SSD
                    <input type="checkbox" th:field="*{storage}" value="NVMe-SSD">NVMe SSD
                    <span th:errors="*{storage}" class="msg"></span> 
                </td>
            </tr>
        </table>
        <input type="submit" value="作成">
    </form>
</body>
</html>
