<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">書籍リスト</h1>
        <div class="table-container">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>題名</th>
                    <th>発行日</th>
                    <th>価格</th>
                    <th>メディアタイプ</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book:${books}">
                    <td th:text="${book.id}">1</td>
                    <td th:text="${book.title}">情報倫理</td>
                    <td th:text="${book.date}">2035-03-10</td>
                    <td th:text="${book.price}">3500</td>
					<td th:text="${#strings.listJoin(book.mediaType, ',')}">印刷本</td>
                    <td>
                        <a th:href="@{/book/{id}/edit(id=${book.id})}" class="btn btn-sm btn-primary me-2">修正</a>
                        <a th:href="@{/book/{id}/delete(id=${book.id})}" class="btn btn-sm btn-danger">削除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <a th:href="@{/book/create}" class="btn btn-success mt-3">新規作成</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
